<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">
 
    <context:component-scan base-package="pl.application.spring" />
    <context:annotation-config />
    <context:spring-configured/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver" />
        <!-- jdbc:h2:file:~/application/applicationApp/h2/appDB -->
        <property name="url" value="jdbc:h2:file:~/appDB/appDB" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>
 
    <bean id="hibernate3AnnotatedSessionFactory"
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>pl.application.spring.model.Application</value>
                <value>pl.application.spring.model.AppStates</value>
                <value>pl.application.spring.model.AppHistory</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <!--<prop key="hibernate.current_session_context_class">thread</prop>-->
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>
     
    <bean id="applicationDao" class="pl.application.spring.dao.ApplicationDAOImpl">
        <property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
    </bean>
    
    <bean id="appHistoryDao" class="pl.application.spring.dao.AppHistoryDAOImpl">
        <property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
    </bean>
    
    <bean id="appStatesDao" class="pl.application.spring.dao.AppStatesDAOImpl">
        <property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
    </bean>
        
</beans>